services:

  wiremock:
    image: wiremock/wiremock
    networks:
    - hmpps_int
    container_name: wiremock
    restart: always
    ports:
      - "9091:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings

networks:
  hmpps_int:
