services:

  app:
    build:
      context: .
      args:
        BUILD_NUMBER: "1.0.0"
        GIT_REF: "a1b2c3"
        GIT_BRANCH: main
    networks:
      - hmpps
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:3000/health"]
    environment:
      - PRODUCT_ID=UNASSIGNED
      - REDIS_ENABLED=false
      - REDIS_HOST=localhost
      - SESSION_SECRET=somesecretvalue
      - INGRESS_URL=http://localhost:3000
      - NO_HTTPS=true
      - ARNS_API_URL=http://wiremock:8080/arns-api

  wiremock:
    image: wiremock/wiremock
    networks:
      - hmpps
    container_name: wiremock
    restart: always
    ports:
      - "9091:8080"
    volumes:
      - ./helm_deploy/hmpps-arns-frontend-components/mappings:/home/wiremock/mappings

networks:
  hmpps:
