.govuk-back-to-top {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 16px;
}

.govuk-back-to-top a {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  color: #1d70b8;
}

.govuk-back-to-top a:hover {
  color: #003078;
}

.govuk-back-to-top__icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}


.page-wireframe {
  width: 450px;
  height: 550px;
  border: 2px solid black;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-wireframe-back-button {
  border: 2px solid red;
  width: 90px;
  height: 25px;
  box-sizing: border-box;
  font-size: 16px;
}

.page-wireframe-header {
  border: 2px solid red;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  font-size: 24px;
}

.page-wireframe-detailed-risk-predictor-scores {
  border: 2px solid green;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  font-size: 24px;
}

.page-wireframe-back-to-top-button {
  border: 2px solid red;
  width: 135px;
  height: 25px;
  box-sizing: border-box;
  font-size: 16px;
}

.red-key-text {
  color: red;
  font-weight: bold;
}

.green-key-text {
  color: green;
  font-weight: bold;
}
