.intro-code {
  font-family: Consolas, "courier new", sans-serif;
  color: blue;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 90%;
}

.intro-name {
  font-family: Consolas, "courier new", sans-serif;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 85%;
}

.intro-code-block {
  font-family: Consolas, "courier new", sans-serif;
  font-size: 12pt;
  padding: 2px;
}
