$very-high-score-colour: #942514;
$very-high-score-colour--light: #ffac9f;
$very-high-score-colour__text: #711a0d;
$high-score-colour: #d4351c;
$high-score-colour--light: #f6d7d2;
$high-score-colour__text: #942514;
$medium-score-colour: #f47738;
$medium-score-colour--light: #f9e8bd;
$medium-score-colour__text: #a34e00;
$low-score-colour: #85994b;
$low-score-colour--light: #dee9bd;
$low-score-colour__text: #485b10;

@mixin moj-predictor-timeline-item-base($primary-colour, $secondary-colour, $text-colour) {
  outline: 2px solid $primary-colour;
  padding: 0;
  display: inline-block;

  &::after {
    content: "" "";
    display: block;
    visibility: hidden;
    clear: both;
  }

  & > span {
    padding: 3px 6px;
  }

  & .moj-predictor-timeline-item__level {
    @include govuk-font(14, "regular");

    float: left;
    color: $text-colour;
  }

  & .moj-predictor-timeline-item__score {
    @include govuk-font(14, "bold");

    float: right;
    color: govuk-colour("black");
    background-color: $secondary-colour;
  }
}

.moj-predictor-timeline-item--very-high {
  @include moj-predictor-timeline-item-base(
      $very-high-score-colour,
      $very-high-score-colour--light,
      $very-high-score-colour__text
  );
}

.moj-predictor-timeline-item--high {
  @include moj-predictor-timeline-item-base($high-score-colour, $high-score-colour--light, $high-score-colour__text);
}

.moj-predictor-timeline-item--medium {
  @include moj-predictor-timeline-item-base($medium-score-colour, $medium-score-colour--light, $medium-score-colour__text);
}

.moj-predictor-timeline-item--low {
  @include moj-predictor-timeline-item-base($low-score-colour, $low-score-colour--light, $low-score-colour__text);
}
