$very-high-score-colour: #942514;
$very-high-score-colour--light: #ffac9f;
$very-high-score-colour__text: #711a0d;
$high-score-colour: #d4351c;
$high-score-colour--light: #f6d7d2;
$high-score-colour__text: #942514;
$medium-score-colour: #f47738;
$medium-score-colour--light: #f9e8bd;
$medium-score-colour__text: #a34e00;
$low-score-colour: #85994b;
$low-score-colour--light: #dee9bd;
$low-score-colour__text: #485b10;
$default-colour: govuk-colour("mid-grey");
$default-colour--light: govuk-colour("light-grey");
$default-colour__text: govuk-colour("black");

@mixin predictor-badge-base($primary-colour, $secondary-colour, $text-colour) {
  display: inline-flex;
  outline: 2px solid $primary-colour;

  & .predictor-badge__type_and_level {
    @include govuk-font(19, "regular");
    color: $text-colour;

    padding: 2px 10px;
  }

  & .predictor-badge__score {
    @include govuk-font(19, "bold");
    color: govuk-colour("black");

    background-color: $secondary-colour;
    border-left: 2px solid $primary-colour;

    padding: 2px 2px;
    align-content: center;
  }

  & .predictor-badge__static_or_dynamic {
    @include govuk-font(19, "regular");
    color: #282D30;

    background-color: #E5E6E7;
    border-left: 2px solid $primary-colour;

    padding: 2px 2px;
    align-content: center;
  }
}

.predictor-badge--very-high {
  @include predictor-badge-base(
      $very-high-score-colour,
      $very-high-score-colour--light,
      $very-high-score-colour__text
  );
}

.predictor-badge--high {
  @include predictor-badge-base($high-score-colour, $high-score-colour--light, $high-score-colour__text);
}

.predictor-badge--medium {
  @include predictor-badge-base($medium-score-colour, $medium-score-colour--light, $medium-score-colour__text);
}

.predictor-badge--low {
  @include predictor-badge-base($low-score-colour, $low-score-colour--light, $low-score-colour__text);
}

.predictor-badge--default {
  @include predictor-badge-base($default-colour, $default-colour--light, $default-colour__text);
}
