.predictor-timeline {
  margin-bottom: govuk-spacing(4);
  overflow: hidden;
  position: relative;

  &:before {
    background-color: $govuk-brand-colour;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 5px;
  }

}

.predictor-timeline--full {
  margin-bottom: 0;
  &:before {
    height: calc(100% - 75px);
  }
}

.predictor-timeline__item {
  padding-bottom: govuk-spacing(6);
  padding-left: govuk-spacing(4);
  position: relative;

  &:before {
    background-color: $govuk-brand-colour;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 15px;
  }

}

.predictor-timeline__title {
  @include govuk-font($size: 19, $weight: bold);
  display: inline;
}

.predictor-timeline__byline {
  @include govuk-font($size: 19);
  color: $govuk-text-colour;
  display: inline;
  margin: 0;
}

.predictor-timeline__date {
  @include govuk-font($size: 16);
  margin-top: govuk-spacing(1);
  margin-bottom: 0;
}

.predictor-timeline__description {
  @include govuk-font($size: 19);
  margin-top: govuk-spacing(4);
}

.predictor-timeline-section--hidden {
  visibility: hidden;
  display: none;
}

.predictor-timeline__heading {
  margin-bottom: 30px;
}

.moj-timeline__warning {
  margin-bottom: 10px !important;
}

.moj-timeline__details {
  margin-bottom: 0px !important;
}
