{% if predictor %}

  {% set badgeClass = '' %}
  {% switch predictor.level %}
  {% case 'VERY_HIGH' %}
    {% set badgeClass = 'expanded-predictor-badge--very-high' %}
  {% case 'HIGH' %}
    {% set badgeClass = 'expanded-predictor-badge--high' %}
  {% case 'MEDIUM' %}
    {% set badgeClass = 'expanded-predictor-badge--medium' %}
  {% case 'LOW' %}
    {% set badgeClass = 'expanded-predictor-badge--low' %}
  {% endswitch %}

  {% set staticOrDynamicClass = 'predictor-badge__static_or_dynamic' %}
  {% if showScore and predictor.level in ['VERY_HIGH', 'MEDIUM'] and predictor.staticOrDynamic === 'DYNAMIC' %}
    {% set staticOrDynamicClass = staticOrDynamicClass + ' predictor-badge__wrapped_static_or_dynamic' %}
  {% endif %}

  <div class="{{ badgeClass }}">
    <span
      class="predictor-badge__type">{{ predictor.type }}</span>

    <div class="predictor-badge__stats">
      <span class="predictor-badge__level">{{ predictor.level | replace('_', ' ') }}</span>

      {% if showScore and predictor.score %}
        <span class="predictor-badge__score">{{ predictor.score }}%</span>
      {% endif %}

      {% if predictor.staticOrDynamic %}
        <span class="{{ staticOrDynamicClass }}">{{ predictor.staticOrDynamic | capitalize }}</span>
      {% endif %}

    </div>

    <span class="predictor-badge__last_updated">Last updated: {{ predictor.completedDate }}</span>

  </div>
{% endif %}
