$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import 'partials/header-bar';
@import './overrides/local';

@import "partials/risk/mappa-widget";
@import "partials/risk/predictor-scores";
@import "partials/risk/legacy-timeline";
@import "partials/risk/predictor-timeline-item";
@import "partials/risk/predictor-timeline";
@import "partials/risk/risk-flag-widget";
@import "partials/risk/rosh-widget";
@import "partials/risk/predictor-badge";
@import "partials/risk/expanded-predictor-badge";
@import "partials/risk/predictor-scale";

