{% from "partials/predictor-scale-marker/macro.njk" import predictorScaleMarker %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set scaleMarkerClass = '' %}
{% set staticOrDynamic = '' %}

{% switch predictorScore.staticOrDynamic %}
  {% case 'STATIC' %}
    {% set staticOrDynamic = 'Static' %}
  {% case 'DYNAMIC' %}
    {% set staticOrDynamic = 'Dynamic' %}
{% endswitch %}

{% if isLowToVeryHigh !== true %}
  {% switch predictorScore.level %}
  {% case 'LOW' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--low scale-marker-wrapper--position-one-of-three' %}
  {% case 'MEDIUM' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--medium scale-marker-wrapper--position-two-of-three' %}
  {% case 'HIGH' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--high scale-marker-wrapper--position-three-of-three' %}
  {% endswitch %}
  {% else %}
  {% switch predictorScore.level %}
  {% case 'LOW' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--low scale-marker-wrapper--position-one-of-four' %}
  {% case 'MEDIUM' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--medium scale-marker-wrapper--position-two-of-four' %}
  {% case 'HIGH' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--high scale-marker-wrapper--position-three-of-four' %}
  {% case 'VERY_HIGH' %}{% case 'VERY HIGH' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--very-high scale-marker-wrapper--position-four-of-four' %}
  {% endswitch %}
{% endif %}

{% set barTypeClass = '' %}

{% if isLowToVeryHigh !== true and includePercentage !== true %}
  {% set barTypeClass = 'scale-bar--small' %}
{% elif isLowToVeryHigh === true and includePercentage !== true %}
  {% set barTypeClass = 'scale-bar--small scale-bar--small-fourths' %}
{% elif isLowToVeryHigh === true and includePercentage === true %}
  {% set barTypeClass = 'scale-bar scale-bar--fourths' %}
{% elif isLowToVeryHigh !== true and includePercentage === true %}
  {% set barTypeClass = 'scale-bar' %}
{% endif %}

{% if predictorScore.level === 'NOT_APPLICABLE' %}
  <div class="predictor-scale govuk-body">
    <h2 class="govuk-heading-m">{{ predictorScore.type }}</h2>
    <p class="govuk-body">Not applicable</p>
  </div>
{% else %}
  <div class="predictor-scale govuk-body">

    <div class="predictor-scale-header-wrapper">
      <div>
        <h2 class="govuk-heading-m">{{ predictorScore.type }}</h2>
        <p class="govuk-hint">Last updated: {{ predictorScore.lastUpdated }}</p>
      </div>
      <div>{{ govukTag({ text: staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
    </div>

    <div class="scale-marker">
      <div class="{{ scaleMarkerClass }}">
        {{ predictorScaleMarker(predictorScore, showScore) }}
      </div>
    </div>

    <div class="{{ barTypeClass }}">
      <div data-band-persentage-start="{{ predictorScore.bandPercentages[0] }}" data-band-persentage="{{ predictorScore.bandPercentages[1] }}">
        <span></span>
      </div>
      <div data-band-persentage="{{ predictorScore.bandPercentages[2] }}">
        <span></span>
      </div>
      <div data-band-persentage="{{ predictorScore.bandPercentages[3] }}">
        <span></span>
      </div>
      {% if isLowToVeryHigh === true %}
        <div data-band-persentage="{{ predictorScore.bandPercentages[4] }}">
          <span></span>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
