{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set scaleMarkerClass = '' %}
{% set staticOrDynamic = '' %}
{% set thresholds = [] %}


  {# select thresholds (switch-style) #}
  {% if predictorScore.type == "All Reoffending Predictor" %}
    {% set thresholds = [0, 50, 75, 90, 100] %}
  {% elif predictorScore.type == "Violent Reoffending Predictor" %}
    {% set thresholds = [0, 30, 60, 80, 100] %}
  {% elif predictorScore.type == "Combined Serious Reoffending Predictor" %}
    {% set thresholds = [0, 1, 3, 6.9, 25] %}
  {% elif predictorScore.type == "OGRS3" %}
    {% set thresholds = [0, 50, 75, 90, 100] %}
  {% elif predictorScore.type == "OGP" %}
    {% set thresholds = [0, 34, 67, 85, 100] %}
  {% elif predictorScore.type == "OVP" %}
    {% set thresholds = [0, 30, 60, 80, 100] %}
  {% elif predictorScore.type == "RSR" %}
    {% set thresholds = [0, 3, 6.9, 25] %}
  {% else %}
    {% set thresholds = null %}
  {% endif %}

  {% set numSegments = thresholds | length - 1 %}
  {% set segmentWeight = 100 / numSegments %}
  {% set scalePosition = '' %}
  {% set found = false %}

  {% for i in range(0, numSegments) %}
    {% if not found %}
      {% set lower = thresholds[i] %}
      {% set upper = thresholds[i + 1] %}

      {% if predictorScore.score >= lower and predictorScore.score <= upper %}
        {% set progressInSegment = (predictorScore.score - lower) / (upper - lower) %}
        {% set scalePosition =
          (
          (i * segmentWeight) +
          (progressInSegment * segmentWeight)
          ) | round(2)
        %}
        {% set found = true %}
      {% endif %}
    {% endif %}
  {% endfor %}



{% macro predictorScaleMarker(predictorScore, includeScore) %}
  <div class="scale-marker__card">
    <div class="scale-marker__card-top">
      <h3>{{ predictorScore.level | replace("_", " ") }}</h3>
    </div>
    {% if includeScore and predictorScore.score %}
      <div class="scale-marker__card-bottom">
        <p>{{ predictorScore.score }}%</p>
      </div>
      <div class="scale-marker__card-pointer"></div>
    {% else %}
      <div class="scale-marker__card-pointer scale-marker__card-pointer--white"></div>
    {% endif %}
  </div>
{% endmacro %}

{% switch predictorScore.staticOrDynamic %}
  {% case 'STATIC' %}
    {% set staticOrDynamic = 'Static' %}
  {% case 'DYNAMIC' %}
    {% set staticOrDynamic = 'Dynamic' %}
  {% default %}
{% endswitch %}


{% switch predictorScore.level %}
  {% case 'LOW' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--low' %}
  {% case 'MEDIUM' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--medium' %}
  {% case 'HIGH' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--high' %}
  {% case 'VERY_HIGH' %}
    {% set scaleMarkerClass = 'scale-marker-wrapper--very-high' %}
{% endswitch %}

{% set barTypeClass = '' %}

{% if includeVeryHigh !== true and includePercentage !== true %}
  {% set barTypeClass = 'scale-bar--small' %}
{% elif includeVeryHigh === true and includePercentage !== true %}
  {% set barTypeClass = 'scale-bar--small scale-bar--small-fourths' %}
{% elif includeVeryHigh === true and includePercentage === true %}
  {% set barTypeClass = 'scale-bar scale-bar--fourths' %}
{% elif includeVeryHigh !== true and includePercentage === true %}
  {% set barTypeClass = 'scale-bar' %}
{% endif %}

{% if predictorScore.level === 'NOT_APPLICABLE' %}
  <div class="predictor-scale govuk-body">
    <h2 class="govuk-heading-m">{{ predictorScore.type }}</h2>
    <p class="govuk-body">Not applicable</p>
  </div>
{% else %}
  <div class="predictor-scale govuk-body">
    <div class="predictor-scale-header-wrapper">
      <div>
        <h2 class="govuk-heading-m">{{ predictorScore.type }}</h2>
        <p class="govuk-hint">Last updated: {{ predictorScore.lastUpdated }}</p>
      </div>
      {% if staticOrDynamic !== '' %}
      <div>{{ govukTag({ text: staticOrDynamic, classes: "govuk-tag--grey"}) }}</div>
      {%  endif %}
    </div>

    <div class="scale-marker">
      <div class="{{ scaleMarkerClass }} scale-marker-wrapper" data-margin="{{ scalePosition }}">
        {{ predictorScaleMarker(predictorScore, includeScore) }}
      </div>
    </div>

    <div class="{{ barTypeClass }}">
      <div data-band-persentage-start="{{ thresholds[0] }}" data-band-persentage="{{ thresholds[1] }}">
        <span></span>
      </div>
      <div data-band-persentage="{{ thresholds[2] }}">
        <span></span>
      </div>
      <div data-band-persentage="{{ thresholds[3] }}">
        <span></span>
      </div>
      {% if includeVeryHigh === true %}
        <div data-band-persentage="{{ thresholds[4] }}">
          <span></span>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
