{% extends "govuk/template.njk" %}

{% block head %}
  <a id="top"></a>
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script nonce="{{ cspNonce }}">
    document.addEventListener('DOMContentLoaded', function () {
      document.initialiseTelemetry('{{ applicationInsightsConnectionString | default('') }}', '{{ applicationInsightsRoleName }}')
    })
  </script>
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {# Temp workaround due to bug in govuk tabs component where code block identation is not respected #}
  <script type="module" src="{{ '/assets/js/clean-up-code-examples.js' | assetMap }}"></script>
{% endblock %}
