.govuk-main-wrapper {
  min-height: 600px;
}

.badge-restricted-width {
  width: 500px;
}

pre {
  white-space: pre-wrap;       /* CSS3 */
  word-wrap: break-word;       /* For older browsers */
  overflow-wrap: break-word;   /* Standard */
}
