{% extends "layouts/side-nav-layout.njk" %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "arns/components/expanded-predictor-badge/macro.njk" import expandedPredictorBadge %}

{% set pageTitle = "Library expanded predictor badge" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-badge-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>How to use</h2>
      <p>Refer to the
        <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/4471390821/Risk+badges">Risk badges</a>
        Confluence documentation for usage details.
      </p>
      <h3>Usage example</h3>
      <pre><code>{% verbatim %}{% from "arns/components/expanded-predictor-badge/macro.njk" import expandedPredictorBadge %}

{{ expandedPredictorBadge({
  data: riskData,
  predictor: "allReoffendingPredictor"
}) }}{% endverbatim %}
</code></pre>

      <p> renders as follows:</p>
      {{ expandedPredictorBadge({
        data: riskData,
        predictor: "allReoffendingPredictor"
      }) }}

      <h3>Macro inputs</h3>
      <ul>
        <li>data (ARNS API data)
          <ul>
            <li>This will be produced once per page via a call from the library to the ARNS API, detail on the intro page</li>
          </ul>
        </li>
        <li>predictor (string)
          <ul>
            <li>"ogrs3" - identifier for the Offender Group Reconviction Scale v3 (OGRS3)</li>
            <li>"ovp" - identifier for the OASys Violence Predictor (OVP)</li>
            <li>"ogp" - identifier for the OASys General Predictor (OGP)</li>
            <li>"rsr" - identifier for the Risk of Serious Reicidivism (RSR)</li>
            <li>"ospdc" - identifier for the OASys Sexual Predictor – Direct Contact (OSP-DC)</li>
            <li>"ospiic" - identifier for the OASys Sexual Predictor – Images and Indirect Contact (OSP-IIC)</li>
            <li>"allReoffendingPredictor" - identifier for the all reoffending predictor</li>
            <li>"violentReoffendingPredictor" - identifier for the violent reoffending predictor</li>
            <li>"seriousViolentReoffendingPredictor" - identifier for the serious violent reoffending predictor</li>
            <li>"directContactSexualReoffendingPredictor" - identifier for the direct contact - sexual reoffending predictor</li>
            <li>"indirectImageContactSexualReoffendingPredictor" - identifier for the indirect image contact - sexual reoffending predictor</li>
            <li>"combinedSeriousReoffendingPredictor" - identifier for the combined serious reoffending predictor</li>
          </ul>
        </li>
        <li>showScore (boolean) - optional override - recommended to leave undefined to use the default predictor display config
          <ul>
            <li>true - displays the score within the predictor badge</li>
            <li>false - hides the score within the predictor badge</li>
          </ul>
        </li>
        <li>fixedWidth (boolean)
          <ul>
            <li>true (default) - the component has a fixed width</li>
            <li>false - the component will stretch to the width of the container</li>
          </ul>
        </li>
      </ul>

      <h2>OGRS4 Examples (fixed width)</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "allReoffendingPredictor"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "violentReoffendingPredictor"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "seriousViolentReoffendingPredictor"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "directContactSexualReoffendingPredictor"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "indirectImageContactSexualReoffendingPredictor"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "combinedSeriousReoffendingPredictor"
        }) }}
      </div>
      <h2>OGRS4 Examples (dynamic width)</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "allReoffendingPredictor",
          fixedWidth: false
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskData,
          predictor: "indirectImageContactSexualReoffendingPredictor",
          fixedWidth: false
        }) }}
      </div>
      <h2>Legacy data examples (fixed width)</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ogrs3"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ovp"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ogp"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "rsr"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ospdc"
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ospiic"
        }) }}
      </div>
      <h2>Legacy data examples (dynamic width)</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "ogp",
          fixedWidth: false
        }) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskDataLegacy,
          predictor: "rsr",
          fixedWidth: false
        }) }}
      </div>
      <h2>Not Applicable example</h2>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskDataNotApplicable,
          predictor: "directContactSexualReoffendingPredictor"
        }) }}
      </div>
      <h2>Unknown example</h2>
      <h3>Missing score</h3>
      <p>Applies when no score is available, but the configuration (default predictor display config or showScore override)
        requires the score field to be visible.</p>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge({
          data: riskDataErrorStates,
          predictor: "allReoffendingPredictor"
        }) }}
      </div>
      <h3>Missing band</h3>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge({
          data: riskDataErrorStates,
          predictor: "violentReoffendingPredictor"
        }) }}
      </div>
    </div>
  </div>

{% endblock %}
