{% extends "layouts/side-nav-layout.njk" %}

{% set pageTitle = "Intro" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}

  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

{% endblock %}
