{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/legacy-predictor-timeline/macro.njk" import predictorTimeline %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = "Legacy predictor timeline" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojAlert({
        variant: "warning",
        title: "These components are deprecated",
        html: 'These components are deprecated and have been replaced by <a href="/predictor-timeline">Predictor timeline v2</a>.'
      }) }}
    </div>
  </div>
  <div id="predictor-scores-history" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ predictorTimeline(legacyComponentRiskScores.historical) }}
    </div>
  </div>

  <script type="module" src="{{ '/assets/js/predictor-timeline.js' | assetMap }}"></script>
{% endblock %}
