{% extends "layouts/side-nav-layout.njk" %}

{% set pageTitle = "Introduction" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}

  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <p>
    The ARNS frontend components service documents design elements to be used in downstream systems along the Gov.UK and MOJ design systems. This should be used in conjunction with the following guide in Confluence - <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/5980553390/Visualising+risk+for+the+updated+risk+predictor+tools">Visualising risk for the updated risk predictor tools</a>
  </p>

  <h2 class="govuk-heading-l">First Steps</h2>

  <h3 class="govuk-heading-m">Install the library</h3>
  <p>
    Use the command
  </p>
  <pre><code class="intro-code">npm i @ministryofjustice/hmpps-arns-frontend-components-lib</code></pre>
  <p>
    to install the package containing the library. This will result in the line
  </p>
  <pre><code class="intro-code">@ministryofjustice/hmpps-arns-frontend-components-lib": "0.0.5",</code></pre>
  <p>
    being added to the file <code class="intro-name">package.json</code> as a runtime dependency.
  </p>

  <h3 class="govuk-heading-m">Add the njks and setup function</h3>
  <p>
    To add the njks from the library into a project, the file <code class="intro-name">server/utils/nunjucksSetup.ts</code> has to be edited.
    The path
  </p>
  <pre><code class="intro-code">node_modules/@ministryofjustice/hmpps-arns-frontend-components-lib/dist/</code></pre>
  <p>
    will need to be added to the njks environment list contained in the initialisation
  </p>
  <pre><code class="intro-code-block">const njkEnv = nunjucks.configure( ... </code></pre>
  <p>
    The setup function also needs to be called to bring in globals and filters from the library.
  </p>
  <pre><code class="intro-code-block">arnsNunjucksSetup(njkEnv)</code></pre>

  <h3 class="govuk-heading-m">Add the SCSS</h3>
  <p>
    Add the following import to your global styles usually in <code class="intro-name">index.scss</code>
  </p>
    <pre><code class="intro-code">@import "@ministryofjustice/hmpps-arns-frontend-components-lib/dist/all";</code></pre>

  <h2 class="govuk-heading-l">Using components</h2>

  <h3 class="govuk-heading-m">Data Layer</h3>
  <p>
    Setup the <code class="intro-name">arnsComponent</code> in <code class="intro-name">dataAccess</code> and export it
  </p>
  <pre style="padding-top: 15px"><code class="intro-code-block">export const dataAccess = () => {
  return {
    ...
    arnsComponents: new ArnsComponents(authClient, config.apis.arnsApi, logger),
    ...
  }
}

...

export { ArnsComponents }</code></pre>

  <h3 class="govuk-heading-m">Service Layer</h3>
  <p>
    Add <code class="intro-name">arnsComponents</code> to your services and return.
  </p>
    <pre><code class="intro-code-block">import { dataAccess } from '../data'

export const services = () => {
  const { ..., arnsComponents } = dataAccess()

  return {
    ...,
    arnsComponents,
    ...
  }
}

export type Services = ReturnType&lt;typeof services></code></pre>
  <p>
    Setup arns api in <code class="intro-name">config.ts</code>
  </p>
  <pre><code class="intro-code-block">apis: {
  arnsApi: { ... },
},</code></pre>
  <p>
    call the <code class="intro-name">arnsComponent</code> once per page to insert data into the router
  </p>
  <pre><code class="intro-code-block">router.get('/some-route', async (req, res) => {
    ...
    const riskData = await arnsComponents.getRiskData(
      authClient, 'crn', 'X123456')
    res.render('pages/some-page', {
      ...,
      riskData,
      ...
    })
})</code></pre>

  <p>
    For further information select a component for more details on that particular component.
  </p>

{% endblock %}
