{% extends "layouts/side-nav-layout.njk" %}

{% set pageTitle = "New Introduction" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}

  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <p>
    The ARNS frontend components service documents design elements to be used in downstream systems along the Gov.UK and MOJ design systems. This should be used in conjunction with the following guide in Confluence - <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/5980553390/Visualising+risk+for+the+updated+risk+predictor+tools">Visualising risk for the updated risk predictor tools</a>
  </p>

  <h2 class="govuk-heading-l">First Steps</h2>

  <h3 class="govuk-heading-m">Install the library</h3>
  <p>
    TODO - How to install the library package.
  </p>

  <h3 class="govuk-heading-m">Add the nkjs</h3>
  <p>
    TODO - How to add the nkjs from the library into a project.
  </p>

  <h3 class="govuk-heading-m">Add the SCSS</h3>
  <p>
    TODO - How to add scss from the library into a project.
  </p>

  <h2 class="govuk-heading-l">Using components</h2>
  <p>
    Select a component for more details on that particular component.
  </p>

{% endblock %}
