{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = "Predictor timeline item" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojAlert({
        variant: "warning",
        title: "This component is deprecated",
        html: 'This component is deprecated and has been replaced by <a href="/predictor-badge">Predictor badge</a> & <a href="/expanded-predictor-badge">Expanded predictor badge</a>.'
      }) }}
    </div>
    <div class="govuk-grid-column-full">
      {{ predictorTimelineItem(legacyComponentRiskScores.historical[0].scores.RSR) }}
    </div>
    <div class="govuk-grid-column-full">
      {{ predictorTimelineItem(legacyComponentRiskScores.historical[0].scores.OSPDC) }}
    </div>
    <div class="govuk-grid-column-full">
      {{ predictorTimelineItem(legacyComponentRiskScores.historical[0].scores.OSPIIC) }}
    </div>
  </div>
{% endblock %}
