{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-scores/macro.njk" import predictorScore %}
{% from "../partials/predictor-scores-indicator/macro.njk" import predictorIndicator %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = "Predictor scores" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojAlert({
        variant: "warning",
        title: "This component is deprecated",
        html: 'This component is deprecated and has been replaced by <a href="/predictor-scale">Predictor scale</a>.'
      }) }}
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l score-header">RSR score</h2>
      {{ predictorScore(legacyComponentRiskScores.current.scores.RSR) }}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l score-header">OSP/DC score</h2>
      {{ predictorScore(legacyComponentRiskScores.current.scores.OSPDC) }}
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l score-header">OSP/IIC score</h2>
      {{ predictorScore(legacyComponentRiskScores.current.scores.OSPIIC) }}
    </div>
  </div>
{% endblock %}
