{% extends "layouts/side-nav-layout.njk" %}

{% set pageTitle = "Library predictor scores accordion" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}

  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-scores-accordion-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>Example</h2>
      <p>Please follow <a href="/predictor-scores-accordion/example">this</a> link to view a full page example.</p>
    </div>
  </div>

{% endblock %}
