{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-scores-indicator/macro.njk" import predictorIndicator %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = "Predictor scores indicator" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <div class="govuk-grid-column-full">
    {{ mojAlert({
      variant: "warning",
      title: "These components are deprecated",
      html: 'These components are deprecated and have been replaced by <a href="#">TODO</a>.'
    }) }}
  </div>
  <div id="predictor-scores-indicator-wrapper" class="govuk-grid-row">
    <div id="predictor-scores-indicator" class="govuk-grid-column-one-third">
      {{ predictorIndicator(riskScores.current.scores.RSR) }}
    </div>
    <div id="predictor-scores-indicator" class="govuk-grid-column-one-third">
      {{ predictorIndicator(riskScores.current.scores.OSPDC) }}
    </div>
    <div id="predictor-scores-indicator" class="govuk-grid-column-one-third">
      {{ predictorIndicator(riskScores.current.scores.OSPIIC) }}
    </div>
  </div>
{% endblock %}
