{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-badge/macro.njk" import predictorBadge %}

{% set pageTitle = "Predictor Badge" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-badge-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>Full Predictor Name</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, true, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, true, false) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, true, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, true, false) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highStaticRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highStaticRiskScore, true, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, true, false) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, true, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true, false) }}
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2>Acronym Predictor Name</h2>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, true, true) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, true, true) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, true, true) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, true, true) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highStaticRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.highStaticRiskScore, true, true) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, true, true) }}
      </div>

      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, true, true) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true, true) }}
      </div>
    </div>
  </div>

{% endblock %}
