{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-timeline/macro.njk" import predictorTimeline %}
{% from "../partials/predictor-timeline-item/macro.njk" import predictorTimelineItem %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = "Predictor timeline" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>
  <div class="govuk-grid-column-full">
    {{ mojAlert({
      variant: "warning",
      title: "These components are deprecated",
      html: 'These components are deprecated and have been replaced by <a href="#">TODO</a>.'
    }) }}
  </div>
  <div id="predictor-scores-history" class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <div class="govuk-body predictor-timeline__heading">
        <h2 class="govuk-heading-l">Scores history</h2>
        <a id="predictor-timeline__toggle-all" href="#" class="govuk-link">Open all</a>
      </div>
      {{ predictorTimeline(legacyComponentRiskScores.historical) }}
    </div>
  </div>
{% endblock %}
