{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-badge/macro.njk" import predictorBadge %}

{% set pageTitle = "Predictor badge" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-badge-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>How to use</h2>
      <p>Refer to the
        <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/4471390821/Risk+badges">Risk Badges</a>
        Confluence documentation for usage details.
      <h3>Code</h3>
      The
      <a
        href="https://github.com/ministryofjustice/hmpps-arns-frontend-components/tree/main/server/views/partials/predictor-badge">predictor
        badge Nunjucks macro</a>
      is available on GitHub.
      <br>
      The
      <a
        href="https://github.com/ministryofjustice/hmpps-arns-frontend-components/blob/main/assets/scss/partials/risk/_predictor-badge.scss">predictor
        badge SCSS</a>
      is available on GitHub.
      <h3>Input data format</h3>
      <p>
        The predictor badge includes the following fields, which must follow the specified format:
      <ul>
        <li>type</li>
        <ul>
          <li>OGRS4 generation predictor names (acronyms <strong>not</strong> allowed):</li>
          <ul>
            <li>All Reoffending Predictor</li>
            <li>Violent Reoffending Predictor</li>
            <li>Direct Contact – Sexual Reoffending Predictor</li>
            <li>Images and Indirect Contact – Sexual Reoffending Predictor</li>
            <li>Serious Violent Reoffending Predictor</li>
            <li>Combined Serious Reoffending Predictor</li>
          </ul>
          <li>OGRS3 generation predictor names (acronyms allowed):</li>
          <ul>
            <li>Offender Group Reconviction Scale (OGRS)</li>
            <li>OASys General Reoffending Predictor (OGP)</li>
            <li>OASys Violent Predictor (OVP)</li>
            <li>OASys Sexual Predictor – Direct Contact (OSP-DC)</li>
            <li>OASys Sexual Predictor – Images and Indirect Contact (OSP-IIC)</li>
            <li>Serious Non-Sexual Violence (SNSV)</li>
            <li>Risk of Serious Recidivism (RSR)</li>
          </ul>
        </ul>
        <li>level</li>
        <ul>
          <li>LOW</li>
          <li>MEDIUM</li>
          <li>HIGH</li>
          <li>VERY_HIGH</li>
        </ul>
        <li>score</li>
        <li>staticOrDynamic</li>
        <ul>
          <li>STATIC</li>
          <li>DYNAMIC</li>
        </ul>
      </ul>
        </p>
        <strong>E.g.</strong>
        <pre><code>{
  type: 'Lorem Ipsum',
  level: 'VERY_HIGH',
  score: 78.89,
  staticOrDynamic: 'DYNAMIC'
}</code></pre>
        </p>
        <h2>Examples</h2>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, true, false) }}
        </div>
        <div class="govuk-!-margin-bottom-8">
          {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, true, false) }}
        </div>

        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, true, false) }}
        </div>
        <div class="govuk-!-margin-bottom-8">
          {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, true, false) }}
        </div>

        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.highStaticRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.highStaticRiskScore, true, false) }}
        </div>
        <div class="govuk-!-margin-bottom-8">
          {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, true, false) }}
        </div>

        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false, false) }}
        </div>
        <div class="govuk-!-margin-bottom-4">
          {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, true, false) }}
        </div>
        <div class="govuk-!-margin-bottom-8">
          {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true, false) }}
        </div>
    </div>
  </div>

{% endblock %}
