{% extends "layouts/side-nav-layout.njk" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = "Risk predictor scores content" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}

  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
    <span>{{ govukTag({text: "WIP"}) }}</span>
  </h1>

  <div id="predictor-scores-content-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>How to use</h2>
      <h3>Usage example</h3>
      <pre><code>{% verbatim %}{{ riskPredictorScoresContent({ data: riskData, forename: 'Alex' }) }}{% endverbatim %}</code></pre>
      <h3>Macro inputs</h3>
      <ul>
        <li>data (ARNS API data)
          <ul>
            <li>This will be produced once per page via a call from the library to the ARNS API, detail on the intro
              page
            </li>
          </ul>
        </li>
        <li>forename (string)
          <ul>
            <li>The individual’s forename associated with the current risk profile</li>
          </ul>
        </li>
      </ul>
      <h2>Page layout</h2>
      <p>
        The following wireframe outlines the structural requirements for the 'Risk predictor scores' page.
        It distinguishes between static elements managed by your service and content generated via the macro.
      </p>
      <div class="page-wireframe">
        <div class="page-wireframe-back-button">Back button</div>

        <div class="page-wireframe-header">Caption header</div>
        <div class="page-wireframe-header">Risk predictor scores header</div>

        <div class="page-wireframe-risk-predictor-scores-content">Risk predictor scores content macro</div>

        <div class="page-wireframe-back-to-top-button">Back to top button</div>
      </div>
      <h4>
        Key
      </h4>
      <ul>
        <li>
          <span class="red-key-text">Red box</span> - These components (e.g. headers & navigation buttons) must be
          defined and rendered within your service.
        </li>
        <li><span class="green-key-text">Green box</span> - This section identifies the content rendered by the
          risk predictor scores content macro.</li>
      </ul>
      <h3>Example</h3>
      <p>Please follow <a href="/risk-predictor-scores-content/example">this</a> link to view a full page example.</p>
    </div>
  </div>

{% endblock %}
