{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/risk-flag-widget/macro.njk" import riskFlagWidget %}

{% set pageTitle = "Risk flag widget" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="risk-flag-widget-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2>How to use</h2>
      <p>
        Refer to the <a
          href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/4474110284/Delius+risk+flags+registers">Delius risk flags (registers)</a>
        Confluence documentation for usage details.
      </p>
      <h3>Code</h3>
      <p>
        The <a
          href="https://github.com/ministryofjustice/hmpps-arns-frontend-components/tree/main/server/views/partials/risk-flag-widget">Risk flag
          widget Nunjucks macro</a> is available on GitHub.
        <br>
        The <a
          href="https://github.com/ministryofjustice/hmpps-arns-frontend-components/blob/main/assets/scss/partials/risk/_risk-flag-widget.scss">Risk flag
          widget SCSS</a> is available on GitHub.
      </p>
      <h3>Input data format</h3>
      <p>
        The risk flag widget includes the following fields, which must follow the specified format:
      </p>
      <ul>
        <li>flags (List of objects)</li>
          <ul>
            <li>description (string)</li>
          </ul>
        </li>
      </ul>
      <h4>E.g.</h4>
      <pre>
        <code>
flags: [
  { description: 'Hate Crime' },
  { description: 'Assault' }
]
        </code>
      </pre>
    </div>
  </div>
  <h2>Examples</h2>
  <div id="risk-flag-widget-wrapper" class="govuk-grid-row">
    <div id="risk-flag-widget" class="govuk-grid-column-one-third">
      {{ riskFlagWidget(widgetData.flags) }}
    </div>
    <div id="risk-flag-widget-no-matching-data" class="govuk-grid-column-one-third">
      {{ riskFlagWidget(widgetData) }}
    </div>
    <div id="risk-flag-widget-null-data" class="govuk-grid-column-one-third">
      {{ riskFlagWidget() }}
    </div>
  </div>
{% endblock %}
